* {
    padding: 0;
}



body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: Roboto, system-ui, Oxygen;
}

#me {
    width: 250px;
    border-radius: 14px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.container {
    max-width: 800px;
    margin: auto;
}

.info {
    margin-bottom: 20px;
}

.info p {
    color: #0f141e;
    margin: 0;
}

.social img {
    width: 45px;
}

.briefly {
    margin-top: 50px;
    margin-left: 25px;
    flex-direction: column;
}

.social {
    float: right;
}
    
.info-top {
    display: flex;
    flex-direction: row;
}

.social {
    display: flex;
}

.text{
    margin-top: 30px;
}

.card {
    border-radius: 14px;
}

.card>h2 {
    padding-left: 15px;
    padding-top: 8px;
    margin-bottom: 5px;
    text-decoration: underline;
}

.list {
    margin-top: 5px;
    padding-left: 45px;
    padding-bottom: 10px;
}

.list li {
    margin-bottom: 5px;
}

#skills {
    background-color: #e9dfae;
}

#practice {
    background-color: #bbf1bbfb;
}

table {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
    border-collapse: collapse;
}

.table td:nth-child(1) {
    width: 40%;
}

.table td:nth-child(2) {
    width: 20%;
}

.table td:nth-child(3) {
    width: 20%;
}

.table td:nth-child(4) {
    width: 20%;
}

#rcol {
    text-align: right;
    border-left: 3px solid;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 2px solid #78787830;
}

#lcol {
    margin-left: 10px;
    padding-right: 10px;
    border-right: 2px solid #78787830;
    width: 40%;
    font-weight: 500;
}

.table tr,
td {
    padding-bottom: 6px;
    padding-left: 15px;
    border-bottom: 2px solid #78787830;
}

tr:last-child>td {
    border-bottom-style: none;
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 16px;
}

.form-group input,
textarea {
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    outline: none;

    border: none;
    border-bottom: 1px solid #ccc;

    color: #000;
    font-family: inherit;

    padding: 0 0 0 1px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row>.form-group {
    width: 50%;
}

.row>.form-group:first-child {
    width: 50%;
    margin-right: 20px;
}

.btn {
    width: 133px;
    height: 37px;
    border-radius: 5px;
    display: inline-block;
    background: #111;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

#line{
    margin: 0 0 0 0;
    margin-top: 20px;
    border: 2px solid;
}